html, body {
    margin: 0;
    padding: 0;

}

body {

    /* light-initial */
    position: absolute;
    width: 550px;
    height: 550px;


    background: #FBF7EE;
}


#unit-section {

    position: absolute;
    width: 550px;
    height: 260px;;

    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    }


#conversion-section {

}


#heading {
    position: absolute;
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 1px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height, or 173% */

    text-align: center;
    letter-spacing: -0.05em;

    color: #FFFFFF;
}


#number {
    position: absolute;
    width: 200px;
    height: 80px;

    left: 169px;
    top: 110px;

    background: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;
    /* or 25% */

    text-align: center;

    color: #FFFFFF;
}

#button {
    position: absolute;
    width: 120px;
    height: 40px;

    left: 211px;
    top: 210px;

    border: none;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

}


#length {
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 297px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #1A1921;
}

#meter-feet-conversion {
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 327px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #4E4E4E;

}


#volume {
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 379px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #1A1921;
    }


#liters-gallons-conversion {

    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 409px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #4E4E4E;

}


#mass {

    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 461px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #1A1921;
}



#kilo-pound-conversion {

position: absolute;
width: 346px;
height: 21px;
left: 102px;
top: 491px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #4E4E4E;


}
